main {
  text-align: center;
  vertical-align: center;
  background-color:#eb8df7;
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: Indie Flower,cursive,Arial, Helvetica, sans-serif;
  text-align: center;
  color: whitesmoke;
}

h1,h4,h5{
  color:#4f78f3;
}
img{
  width:30%;
}